.section {
  width: 1024px;

  margin-left: auto;
  margin-right: auto;

  padding: 50px;
}

.tasks {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  text-align: center;
}
